body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : #E14D2A;
}
.title{
    color : #96E5D1;
    font-size: 20px;
    font-weight: 900;
    font-family : 'Courier New', Courier, monospace;
}
.calculator{
    height: 60%;
    width: 30%;
    background-color : #001253;
    border: 10px solid #001253;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display {
    font-size: 2.4vw;
    font-weight: 900;
    background-color :#3E6D9C;
    border: 5px solid black;
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}
.buttons {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
button {
    font-weight: 900;
    background-color: #FD841F;
    flex: 1;
}
